@font-face {
    font-family: BalooTammudu;
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
[font-weight: bold];
[font-style: normal];
}

@font-face {
    font-family: Lato-Light;
    src: url("../fonts/Lato/Lato-Light.ttf");
[font-weight: ligher];
[font-style: normal];
}

@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato/Lato-Regular.ttf");
[font-weight: normal];
[font-style: normal];
}

* {
    font-size: 16px;
    color: #727270;
    font-family: Lato-Regular;
}

/* ---ESTILOS GENERALES--- */
/* INICIO */

h1 {
    font-size: 0;
}

.logo {
    margin: 0 0 3em 0;
}

h2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: .7em;
}

h3 {
    font-family: "Open Sans";
    font-size: 1.5em;
}

main {
    padding: 2em 0;
}

/* A */

a .btn, a .btn:hover {
    text-decoration: none;
}

a.btn {
    text-decoration: none;
    color: #727270;
}

a.btn:hover {
    color: #08AEEA;
    transition: color .5s;
}

input::placeholder,
select,
option,
#fechaReparacion,
textarea{
    font-family: Lato-Light;
    font-weight: lighter;
    font-style: normal;
}

/* BOTONES */
.btn-outline-primary {
    color: #08AEEA;
    border-color: #08AEEA;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #08AEEA;
    border-color: #08AEEA;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #08AEEA;
    border-color: #08AEEA;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .1rem rgba(8, 174, 234, .5);
}

/* FIN */


/* ---HEADER--- */
/* INICIO */

header h1 {
    background: url("../img/logo-h1.svg") no-repeat center center;
    height: 35px;
    width: 150px;
    margin: 0;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.svg");
    width: 35px;
    height: 35px;

}

/* FIN */

/** ---PANTALLA INDEX---**/
/* INICIO */

#warning {
    margin-top: 2em;
}

#warning .row {
    justify-content: center;
    align-items: center;
}

#warning .img-warning {
    text-align: center;
    margin-bottom: 3em;
}

#warning .img-fluid {
    width: 100%;
}

/* --FIN-- */

/* ---PANTALLA DE INICIAR SESION--- */
/* INICIO */

#registro {
    text-align: center;
}

#registro {
    max-width: 400px;
}

#registro .row {
    justify-content: center;
}

#registro form {
    text-align: left;
}

#registro .redes ul {
    list-style: none;
    padding: 1em;
    margin: 0;
}

/* --FIN-- */

/* ---PANTALLA DE INICIAR SESION--- */
/* INICIO */

#iniciarSesion {
    max-width: 400px;
}

#iniciarSesion h1 {
    font-size: 0;
    text-align: center;
    background: url("../img/logo.svg") no-repeat center center;
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

#iniciarSesion .container {
    background: white;
    padding: 1em;
    border-radius: 20px;
}

#iniciarSesion .form h2,
#iniciarSesion .form p,
#registro h2,
#registro p,
#registro ul {
    text-align: center;
}

#iniciarSesion form p,
#registro form p,
#iniciarSesion form label,
#registro form label {
    font-size: .8em;
}

#iniciarSesion form button,
#registro form button {
    width: 100%;
}

#iniciarSesion form {
    margin-top: 2em;
}

#iniciarSesion .button,
#registro .button {
    text-align: center;
    margin-top: 2em;
}

/* FIN */

/* PANTALLA DE ADM USUARIOS*/
/* INICIO */

#list-cars ul{
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

#list-cars ul li{
    margin-right: .5em;
    display: inline-block;
}

#list-cars ul li:last-child{
    margin-right: 0;
    display: inline-block;
}

#list-cars .edit-user {
    width: 25px;
    height: 25px;
    float: right;
}


/* ESTILOS DEL FOOTER*/
/* INICIO */

footer {
    margin-top: 2em;
}

footer, footer p {
    text-align: center;
    font-size: 0.7em;
    color: white;
}

footer .redes {
    padding: 2em 0;
    background: #08AEEA;
}

footer .redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .redes ul li,
#registro .redes ul li {
    display: inline-block;
}

footer .social,
#registro .social {
    width: 35px;
    height: 35px;
    margin: 0 .5em;
    display: block;
}

.tw {
    background: url("../img/twitter.svg") no-repeat center center;
}

.fb {
    background: url("../img/facebook.svg") no-repeat center center;
}

.ig {
    background: url("../img/instagram.svg") no-repeat center center;
}

footer .bgfooter {
    background: url("../img/footer.svg") no-repeat;
    width: 100%;
    height: 225px;
    background-position: right;
    background-size: cover;
}

footer .copy {
    background: #636362;
    margin: 0;
}

footer .copy p {
    margin: 0;
}

/* FIN */